@using SimchaFund.Models
@model SimchaFund.Models.HistoryViewModel

<div class="header">
    <h1>History for @Model.ContributorName</h1>
    <h3>Current Balance: @Model.ContributorBalance.ToString("C")</h3>
</div>

<div class="row header">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr style="text-align: center; vertical-align: middle;">
                <th style="text-align: center; vertical-align: middle; width: 45%">Action</th>
                <th style="text-align: center; vertical-align: middle;">Date</th>
                <th style="text-align: center; vertical-align: middle;">Amount</th>
            </tr>
            @foreach (Transaction transaction in Model.Transactions)
            {
                <tr>
                    <td>
                        @transaction.Action
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @transaction.Date.ToLongDateString()
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @transaction.Amount.ToString("C")
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div style="text-align:center;">
    <a class="btn-lg btn-danger" href="/home">Back to Contributors</a>
</div>